 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome to feature1</h1>
=======
    <h1 class="display-4">Welcome to feature 2</h1>
>>>>>>> 33cf8e3e7e055fc5550e138bfc4599da6993727b
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
